[BASIC]

# Good variable names which should always be accepted, separated by a comma.
good-names=i,
           j,
           k,
           f,
           x,
           y,
           x1,
           x2,
           y1,
           y2,
           s,
           p1,
           p2,
           df,
           a,
           b,
           c

[MESSAGES CONTROL]

# Allow TODO statements
disable=fixme
